@page
@model OnlineLibary.Web.Pages.Account.ProfileModel

<div class="container my-3">
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="h-350px mb-3" src="@(string.IsNullOrEmpty(Model.Input.ProfileImage) ? Url.Content("/img/default-profile.jpg") : Url.Content(Model.Input.ProfileImage))" />
            <input type="file" asp-for="Input.NewProfileImage" />
        </div>
        <div class="col-12 col-md-6">
            <div class="form-floating my-2">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.LastName" class="form-control" autocomplete="surname" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" disabled />
                <label asp-for="Input.Email"></label>
            </div>
        </div>
    </div>
</div>