@page
@using OnlineLibary.Domain.Enums
@using OnlineLibary.Web.Helpers
@model OnlineLibary.Web.Pages.Account.ProfileModel
@{
    var model = Model.Input;

}

<div class="container my-3">
    @{
        if (User.HasAnyRole(UserRoleType.GlobalAdmin) || Model.IsCurrentUser)
        {
            <form method="post" id="edit-profile" enctype="multipart/form-data">
                <input asp-for="Input.Id" type="hidden" />
                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <img class="h-350px mb-3 rounded mx-auto " src="@(string.IsNullOrEmpty(Model.Input.ProfileImage) ? Url.Content("/img/default-profile.jpg") : Url.Content(Model.Input.ProfileImage))" />
                        <div>
                            <input type="file" asp-for="Input.NewProfileImage" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="name" aria-required="true" />
                            <label asp-for="Input.FirstName"></label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating my-2">
                            <input asp-for="Input.LastName" class="form-control" autocomplete="surname" aria-required="true" />
                            <label asp-for="Input.LastName"></label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating my-2">
                            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" disabled />
                            <label asp-for="Input.Email"></label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark my-3">Save Changes</button>
            </form>
        }
        else
        {
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <img class="h-350px mb-3 rounded mx-auto " src="@(string.IsNullOrEmpty(Model.Input.ProfileImage) ? Url.Content("/img/default-profile.jpg") : Url.Content(Model.Input.ProfileImage))" />
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="name" aria-required="true" disabled />
                        <label asp-for="Input.FirstName"></label>
                    </div>
                    <div class="form-floating my-2">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="surname" aria-required="true" disabled />
                        <label asp-for="Input.LastName"></label>
                    </div>
                    <div class="form-floating my-2">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" disabled />
                        <label asp-for="Input.Email"></label>
                    </div>
                </div>
            </div>
        }
    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
